.info-icon {
  color: rgb(255, 255, 255);
}

.danger-icon {
  color: rgb(240, 60, 60);
}

.success-icon {
  color: rgb(43, 204, 64);
  /* color: rgb(255, 255, 255); */
}

div.device-bar {
  position: relative;
  align-items: center;
}
.device-bar div.device-name {
  display: inline;
  /* position: absolute;
    left: 0; */
}
.device-bar div.device-volume {
  display: inline-block;
  position: absolute;
  right: 0;
}

.table-scroll {
  height: 400px;
  overflow-y: auto;
}
